{% extends 'parts/base.twig' %}

{% block greetings %}

    <div class="container">
        <div class="row justify-content-center mb-5 mt-5">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Добро пожаловать</h1>
            </div>
        </div>
    </div>
{% endblock %}